<h2>Show Checklist</h2>

<ul>

  <li>
    <strong>Data:</strong>
    <%= @checklist.data %>
  </li>

</ul>

<span><%= link "Edit", to: checklist_path(@conn, :edit, @checklist) %></span>
<span><%= link "Back", to: checklist_path(@conn, :index) %></span>
