<h2>Listing Executionapp</h2>

<table class="table">
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for execution <- @executions do %>
    <tr>
      <td><%= execution.data["title"] %></td>

      <td class="text-right">
        <span><%= link "Show", to: execution_app_path(@conn, :show, execution), class: "btn btn-default btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
