<h2>Edit Checklist app</h2>

<%= render "form.html", Map.put(assigns, :action, checklist_app_path(@conn, :update, @checklist_app)) %>

<span><%= link "Back", to: checklist_app_path(@conn, :index) %></span>
